<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="rabbitmq_host" value="192.168.100.103"/>
    <add key="rabbitmq_port" value="5672"/>
    <add key="rabbitmq_user" value="guest"/>
    <add key="rabbitmq_password" value="guest"/>
    <add key="rabbitmq_queuename" value="PROGRAMS"/>
  </appSettings>
</configuration>